/* CSS Document */

/* calendar */
.calendar-container{
	background-color: white;
	border-radius: 5px;
	padding: 20px 10px;
	border: #d9dee8 1px solid;
	box-sizing: content-box
}



.calendar-container .calendar-header .btn-group a{
	cursor: pointer;
	font-size: 12px;
	padding: 10px 7px !important;
}
.calendar-container .calendar-header .btn-group a:hover{
	background-color: antiquewhite;
}

.calendar-container .calendar-header .btn-group a.selected{
	background-color: blue;
	color: white
}

.calendar-container .calendar-body{
	overflow: auto;
}
table.calendar{ border-left:1px solid #e7eaf0; width: 100%; margin-top: 15px}
table.calendar tr td{ 
	background-color: white;
	vertical-align: top;
	padding-top: 25px;
}
table.calendar tr td .label{ 
	display: block;
	text-align: left;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: normal;
	cursor: pointer;
	padding: 5px 6px;
}
tr.calendar-row	{  }
td.calendar-day	{ 
	min-height:80px; 
	font-size:11px; 
	position:relative; 
} 

* html div.calendar-day { 
	height:180px; 
	vertical-align: top
}

td.calendar-day:hover	{ background:#eceff5; }
td.calendar-day-np	{ background:#ECEEF0 !important; min-height:80px; } * html div.calendar-day-np { height:80px; }

td.calendar-day-head { 
	background:white; 
	color: #5c7499;
	font-size: 14px;
	font-weight:bold;  
	width:120px; 
	padding:5px; 
	border-bottom:1px solid #999; 
	border-top:1px solid white; 
	border-right:1px solid white; 
	border-left:1px solid white; 
	text-align: left
}

td.calendar-day-head{
	position: relative;
	border-left:1px solid #ccc;
}

td.calendar-day-head .days{
	position: absolute;
	top: 0;
	left: -1px;
	padding: 5px; 
	background-color: white;
	border:1px solid #ccc;
}
div.day-number		{ 
	position: absolute;
	padding:5px; 
	color: #5c7499; 
	font-weight:bold; 
	float:right; 
	margin:-5px -5px 0 0; 
	width:20px; 
	text-align:center; 
	top: 10px ; right: 10px;
}
/* shared */
td.calendar-day, td.calendar-day-np { width:120px; padding:5px; border-bottom:1px solid #e7eaf0; border-right:1px solid #e7eaf0; }